header.header
    .container
        nav.nav
            a.nav__link(href="/" class=(isIndex) ? '_active' : '') Home
            a.nav__link(href="/note" class=(isCreate) ? '_active' : '') Create
            a.nav__link(href="/notes" class=(isNotes) ? '_active' : '') Notes
            div.nav__controls
                a.nav__link(href="/registration" class=(isRegistration) ? '_active' : '') Registration
                a.nav__link(href="/auth" class=(isAuth) ? '_active' : '') Log in
                a.nav__link(href="/logout" class=(isLogout) ? '_active' : '') Logout
