extends ./layouts/main.pug

block content
  form.form(action="/auth" method="POST")
    label.label
      input.input(type="text" name="login")
      span.label__name login
    label.label
      input.input(type="password" name="password")
      span.label__name password
    button.form__submit join