extends ./layouts/main.pug

block content
  form.form(action="/note" method="POST")
    label.label
      input.input(type="text" name="title")
      span.label__name title
    label.label
      input.input(type="text" name="note")
      span.label__name note
    button.form__submit create
