<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title>Home</title>
</head>
<body>
<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav__link _active" href="/">home</a>
      <a class="nav__link" href="/create">create</a>
    </nav>
  </div>
</header>
<div class="main">
  <div class="container">
    <h1>Home page</h1>
    <ul class="notes">
      <li class="notes__item">notes item</li>
    </ul>
  </div>
</div>

</body>

<!--<script>-->
<!--  console.log(testNotes)-->
<!--</script>-->
</html>