extends ./layouts/main.pug

block content
    h1= message
    ul.notes
        li.notes__item
            .notes__item-title title: #{note.note}
            .notes__item-body id: #{note.id}
            .notes__item-controls
                button.notes__item-controls-btn._delete(type="button" onclick=`handler('` + note.id + `')`) delete
                button.notes__item-controls-btn._update(type="button") update

                // onclick="handler('del')"
                // onclick="handler(del)"


block scripts
    script.
        function handler(id) {
            console.log(id)

            fetch(`/note/${id}`, {
                method: 'DELETE',
            })
                .then(res => res.text()) // or res.json()
                .then(res => console.log(res))
        }
